DB_NAME = "insert_name"
DB_ADMIN = "insert_name"

# Ensure WP_ADMIN_USER, WP_USER, WP_ADMIN_MAIL and WP_USER_MAIL are all unique

WP_DOMAIN = "insert_domain"
WP_TITLE = "insert_tile"
WP_ADMIN_USER = "insert_name"
WP_ADMIN_MAIL = "insert_email"

WP_USER = "insert_name"
WP_USER_MAIL = "insert_email"

VSFTPD_USER = "insert_name"
